@using Microsoft.AspNetCore.Components.Authorization

<div class="navbar-nav">
    <div class="nav-item">

        <AuthorizeView>
            <Authorized>
                <div class="row">
                    <a href="Identity/Account/Manage" class="nav-link px-3">@context.User.Identity.Name</a>
                    <form action="Identity/Account/Logout?returnUrl=%2f" method="post">
                        <button type="submit" class="nav-link btn btn-link">登出</button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="row">
                    <a href="Identity/Account/Register" class="nav-link px-3">注册</a>
                    <a href="Identity/Account/Login" class="nav-link px-3">登录</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </div>
</div>

@code {

}
